<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rol="stylesheet" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
            <div class="contenedor-logo">
                <img src="/imagenes/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" > 
            </div>   

            <div class="form" action="#" method="GET">
                <input type="text" name="search" placeholder="Buscar producto o marca" class="src" autocomplete="on">
                <!--- <div class="lupa" ><i class="fa fa-search"></i></div>-->
            </div>
        <div class="Comprar-cuota">
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <div class="nav1">
            <ul>
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
            </ul>
          </div>
          <div class="nav2">
            <ul>
              <li>
                <a href="/register">Crea tu cuenta</a> <i class="fas fa-user-plus"></i>
              </li>
              <li>
                <a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i>
              </li>
    <li>
                <a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i>
              </li>
            </ul>
          </div>
     
    </header>  
    <img class="banner-main" src="/imagenes/img-home-banner.jpg" alt="" >
    <main class="main-section">
        <section class="last-visit">
            <h3 class="title-section"> Basado en tu ultima visita</h3>
            <div class="product">
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price"> $6.770</p>
                        <p class="discount"> 40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="discount"> 20% OFF</p>
                        <h4 class="description"> MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Celulares" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price"> $124.000</p>
                        <p class="discount">10% OFF</p>
                        <h4 class="description">Samsung S10</h4>
                    </div>
                </article>
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-tv-samsung-smart.jpg" alt="TV" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$245.000</p>
                        <p class="discount"> 15% OFF</p>
                        <h4 class="description">TV Samsung55¨</h4>
                    </div>
                </article>
        </section>

        <section>
            <h3 class="title-section">Ofertas</h3>
            <div class="product">
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price"> $6.770</p>
                        <p class="discount"> 40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="discount"> 20% OFF</p>
                        <h4 class="description"> MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Celulares" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price"> $124.000</p>
                        <p class="discount">10% OFF</p>
                        <h4 class="description">Samsung S10</h4>
                    </div>
                </article>
                <article class="product">
                    <img class="photo-product" src="/imagenes/img-tv-samsung-smart.jpg" alt="TV" class="product_img">
                    <div class="main-article">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$245.000</p>
                        <p class="discount"> 15% OFF</p>
                        <h4 class="description">TV Samsung55¨</h4>
                    </div>
                </article>
        </section>    
 


        </section>


    </main>
</body>

<footer>
    <div class="footer-section">
      <div>
        <i class="fas fa-credit-card"></i>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <i class="fas fa-gift"></i>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <i class="fas fa-user-shield"></i>
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </footer>

    
</html>