<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rol="stylesheet" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
            <div class="contenedor-logo">
                <img src="/imagenes/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" > 
            </div>   

            <div class="form" action="#" method="GET">
                <input type="text" name="search" placeholder="Buscar producto o marca" class="src" autocomplete="on">
                <!--- <div class="lupa" ><i class="fa fa-search"></i></div>-->
            </div>
        <div class="Comprar-cuota">
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <div class="nav1">
            <ul>
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
            </ul>
          </div>
          <div class="nav2">
            <ul>
              <li>
                <a href="/register">Crea tu cuenta</a> <i class="fas fa-user-plus"></i>
              </li>
              <li>
                <a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i>
              </li>
    <li>
                <a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i>
              </li>
            </ul>
          </div>
     
    </header>  
  
<img class="banner-main" src="/imagenes/img-home-banner.jpg" alt="" >
<form action="/register" method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" name="Usuario" placeholder="Ingrese Nombre">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="password">Password</label>
    <input type="password" name="email" id="password">
    <br>
    <label for="fecha de nacimiento">Fecha de Nacimiento</label>
    <input type="date" name="date" id="date">
    <br>
    <label for="">Seleccione un Color</label>
    <select name="color" id="">
        <option value="r">Rojo</option>
        <option value="a">Verde</option>
        <option value="a">Azul</option>
        <option value="am">Amarillo</option>
    </select>
    <br>
    <label for="radio">Comprador</label>
    <input type="radio" name="tipoUsuario">
    <br>
    <label for="radio">Vendedor</label>
    <input type="radio" name="tipoUsuario">
<br>
<input type="checkbox" name="Intereses">
<label for="">Electronica</label>
<br>
<input type="checkbox" name="Intereses">
<label for="">Moda</label>
<br>   
<input type="checkbox" name="Intereses">
<label for="">Juguetes</label>
<br>  
<div><button type="reset">Reset</button></div>
<br>  
<button type="submit">Eviar</button>
</form>
<br>  
<footer>
    <div class="footer-section">
      <div>
        <i class="fas fa-credit-card"></i>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <i class="fas fa-gift"></i>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <i class="fas fa-user-shield"></i>
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </footer>

    
</html>

